/* HomeView.vue */

.home-view {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: #14171a;
  background-color: #f5f8fa;
  width: 100%;
}

.post-list {
  display: flex;
  flex-direction: column;
}

.custom-post-card {
  background-color: #e1e8ed;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px; /* Added margin between post cards */
}

.custom-post-card:hover {
  transform: scale(1.03);
}

.custom-post-card h3 {
  margin-bottom: 10px;
  color: #333;
}

.custom-post-card p {
  margin-bottom: 15px;
  color: #555;
}

/* Add any other styles as needed */
